#productIndex {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #productIndex td, #productIndex th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #productIndex tr:nth-child(even){background-color: #f2f2f2;}
  
  #productIndex tr:hover {background-color: #ddd;}
  
  #productIndex th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }